name: Conan package & publish

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      remote:
        required: true
        type: string

jobs:
  package:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: conan-io/setup-conan@v1
        with:
          conan-version: 2.0

      - name: Detect Conan profile
        run: conan profile detect --force

      - name: Configure Conan remotes
        run: |
          conan remote add conan-rc "${{ secrets.CONAN_RC_URL }}" --force
          conan remote add conan-stable "${{ secrets.CONAN_STABLE_URL }}" --force

      - name: Create Conan package
        run: |
          conan create . \
            --version=${{ inputs.version }} \
            --build=missing
        env:
          CONAN_LOGIN_USERNAME: ${{ secrets.CONAN_USERNAME }}
          CONAN_PASSWORD: ${{ secrets.CONAN_PASSWORD }}

      - name: Upload to remote
        run: conan upload "mylib/${{ inputs.version }}" --remote="${{ inputs.remote }}" --confirm
